@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@500&display=swap");

:root {
  color-scheme: dark;
}

body {
  background-color: #d4ecdd;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: flex;
  font-family: "DM Mono", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  color: inherit;
}

body > div {
  flex: 1;
  height: 100%;
}

#div1 {
  background-color: #d4ecdd;
  color: #1f1e1d;
  display: flex;
  align-items: flex-end;
  padding: 60px;
  box-sizing: border-box;
}

#div2 {
  background-color: #1f1e1d;
  color: #d4ecdd;
  font-family: "DM Mono", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2em;
  padding: 60px;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1000px) {
  body {
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    overflow-x: hidden;
  }
  
  #div2 {
    zoom: 2;
    height: 100vh;
    flex: 1 0 auto;
    justify-content: normal;
  }
}

#header {
  font-size: 13vw;
  margin: 0;
}

#login-with-google-btn {
  transition: backgroud-color 400ms;
  padding: 22px 36px 22px 62px;
  border: none;
  border-radius: 3px;
  color: #1f1e1d;
  font-size: 14px;
  font-weight: 500;
  font-family: "DM Mono", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: #d4ecdd;
  background-repeat: no-repeat;
  background-position: 22px 21px;
}
#login-with-google-btn:hover {
  background-color: #d4ecd4;
}
#login-with-google-btn:active {
  background-color: #d4ecd4;
}
