<!-- views/success.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>RCSC SignIn</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
    <div id="div1">
      <h1 id="header">Sign<br />In</h1>
    </div>
    <div id="div2">
      <h1>You have been signed in</h1>
      <p>Name: <%= user.displayName %></p>
      <p>Email: <%= user.emails[0].value %></p>
    </div>
  </body>
</html>
